.sort_section {
    background: white;
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: flex-end;
}

.sort_section label {
    font-weight: 500;
}

.sort_section select {
    border: none;
    outline: unset;
    color: rgb(119, 109, 109);
}