.light_theme {
    --bg-clr: #fff;
    --para-clr: #333;
    --main-heading: #a5d3f0;
    --btn-bg-color: #35a4e9;
    --btn-text-color: #fff;
    --card-bg-color: #a5d3f0;
    --toggle-color: #000;
}


.dark_theme {
    --bg-clr: #111b20;
    --para-clr: #fff;
    --main-heading: #fff;
    --btn-bg-color: #111b20;
    --btn-text-color: #fff;
    --card-bg-color: #fff;
    --toggle-color: #fff;
}




.form_card {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    width: 100%;
    margin: 4rem auto;
    background-color: var(--card-bg-color);
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem 0rem;
}

.form_card p {
    color: var(--para-clr);
    text-align: center;
}

.form_input {
    padding: 10px;
}

.form_input label {
    display: block;
    margin-bottom: 0.4rem;
}

.form_input input {
    padding: 0.3rem;
    border-radius: 8px;
}

.form_input textarea {
    padding: 0.3rem;
}

.form_input select {
    padding: 0.3rem;
    width: 13rem;
}

.form_btn {
    padding: 0.7rem 0rem;
    border-radius: 0.2rem;
    background-color: var(--btn-bg-color);
    color: white;
    font-size: 1rem;
    letter-spacing: 0.1rem;
}

.form_input button {
    width: 100%;
}

.form_btn:hover {
    background-color: var(--btn-bg-color);
}